@import "tailwindcss";

/* Leaflet map CSS */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Make Leaflet popups bigger and easier to read */
.leaflet-popup-content-wrapper {
  padding: 18px 20px !important;
  border-radius: 14px !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  width: 260px !important; /* wider popup */
  font-size: 14px !important;  /* bigger text */
  line-height: 1.35 !important;
}

.leaflet-popup-tip {
  width: 18px !important;
  height: 18px !important;
}

